/* css styles */
 .quarto-title-banner {
  background-color:#DCDCDC;
}

/* css styles */
 .navbar-dark {
  background-color:#702e2e;
}

.quarto-grid-item p.card-img-top>img {
object-fit: contain;
}

.hero-image {
    max-width: 100%;
    height: auto;
    /* You can add more styling here as needed */
}

::: {.grid}

::: {.g-col-4}
This column takes 1/3 of the page
:::

::: {.g-col-8}
This column takes 2/3 of the page
:::

:::
